Repository fballiano/openmage, pull requests merged in 2023-01, with the labels that each got.

#6 Improvements
  js/prototype/validation.js
  lib/Varien/Data/Form/Element/Color.php
  skin/adminhtml/default/default/boxes.css
Labels: Component: Adminhtml, Template : admin, Component: lib/Varien, Component: lib/*, Javascript

#7 Added getBackendClass() method
  app/code/core/Mage/Adminhtml/Helper/Config.php
  app/code/core/Mage/Adminhtml/Model/Config/Data.php
Labels: Component: Adminhtml

#8 Update adminhtml/config
  app/code/core/Mage/Adminhtml/Block/System/Config/Form.php
  app/code/core/Mage/Adminhtml/Helper/Config.php
  app/code/core/Mage/Adminhtml/Model/Config/Data.php
Labels: Component: Adminhtml

#9 Topic pr 2945 - backend validation
  app/code/core/Mage/Adminhtml/Model/System/Config/Backend/Color.php
  lib/Varien/Data/Form/Element/Color.php
Labels: Component: Adminhtml, Component: lib/Varien, Component: lib/*
